@use "../../styles/variables.scss";

.modal-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);

	display: flex;
	justify-content: center;
	padding: 32px;
}

.content-container {
	background-color: white;
	width: 1000px;
	padding: 20px;
	border-radius: 16px;

	display: flex;
	flex-direction: column;
	gap: 16px;
}

.content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 16px;
	min-height: 0;
}

.action {
	display: flex;
	justify-content: end;
	gap: 16px;
}

button {
	padding: 4px 20px;
	border-radius: 4px;
	background-color: white;
	color: black;

	&.danger {
		border: 2px solid variables.$danger;

		&:hover {
			background-color: variables.$danger;
			color: white;
		}
	}

	&.primary {
		border: 2px solid black;

		&:hover {
			background-color: black;
			color: white;
		}
	}

	&.safe {
		border: 2px solid variables.$safe;

		&:hover {
			background-color: variables.$safe;
			color: white;
		}
	}
}

.line-break {
	background-color: variables.$primary-gray;
}
