@use "../../styles/variables.scss";

:host {
	padding-top: 32px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 36px;
	overflow: scroll;
}

.welcome-message {
	font-size: 22px;
	font-weight: 500;
}

.role-display {
	font-size: 18px;
	font-weight: 600;
	color: variables.$font-gray;
}

.university {
	padding: 12px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
	background-color: variables.$primary-gray;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 18px;

	&__title {
		font-size: 18px;
		font-weight: 600;
		border: 2px solid black;
		border-radius: 8px;
		background-color: white;
		padding: 0 4px;
		align-self: start;
	}

	&__information {
		background-color: variables.$primary-gray-dark-1;
		padding: 4px 8px;
		border-radius: 6px;
		display: flex;
		flex-direction: column;
		gap: 2px;

		> p {
			font-weight: 500;
			> span {
				font-weight: 400;
			}
		}
	}

	&__general-information {
		color: blck;
		font-weight: 500;
		font-size: 22px;
	}

	&__name {
		color: variables.$primary-rose;
		font-weight: 600;
	}

	&__location {
		color: black;
	}

	&__domain {
		color: black;
	}

	&__num-students {
		font-size: 14px;
		align-self: end;
	}

	&__load {
		align-self: center;
	}
}
