/* You can add global styles to this file, and also import other style files */
* {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	// max-width: 100%;
	// max-height: 100%;
	// min-height: 0px;
}

body {
	font-family: "Poppins", sans-serif;
}

button {
	outline: none;
	border: none;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

mat-icon {
	&.spin {
		animation: spin 1s linear infinite;
		@keyframes spin {
			to {
				transform: rotate(-360deg);
			}
		}
	}
}

div {
	&.line-break {
		height: 2px;
	}
}
