/* You can add global styles to this file, and also import other style files */
* {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	font-family: "Poppins", sans-serif;
}

button {
	outline: none;
	border: none;
	font-family: "Poppins", sans-serif;
	&:hover {
		cursor: pointer;
	}
}

.full-screen {
	min-width: 100vw;
	min-height: 100vh;
}
