<!-- Event content -->
@if (event != null) {
<div class="content event">
	<!-- Title -->
	<div class="event__title">
		<p class="event__name">{{ event.name }}</p>
		<p class="event__category">{{ event.eventCategory }}</p>
	</div>
	<div class="line-break"></div>
	<!-- RSO -->
	@if (rsoName != null) {
	<p class="event__rso-name"><span>RSO: </span> {{ rsoName }}</p>
	}
	<!-- Description -->
	<p class="event__description">
		<span>Description: </span> {{ event.description }}
	</p>
	<!-- Date -->
	<p class="event__date"><span>Date: </span>{{ eventDateParsed }}</p>
	<!-- Time -->
	<p class="event__time">
		<span>Time: </span>{{ eventTimeParsed }} -
		{{ eventTimeEndParsed }}
	</p>
	<!-- Location -->
	<div class="event__location">
		<!-- Location name -->
		<p class="event__location__name">
			<span>Location: </span>{{ event.location.name }}
		</p>
		<!-- Location coordiante -->
		<ul>
			<li><span>Address: </span>{{ event.location.address }}</li>
			<li>
				<span>Coordinate: </span>({{
					event.location.latitude + ", " + event.location.longitude
				}})
			</li>
		</ul>
	</div>
	<!-- Contact -->
	<div class="event__contact">
		<p class="event__contact__title">Contact Information:</p>
		<ul>
			<!-- Contact email -->
			<li><span>Email: </span>{{ event.contactEmail }}</li>
			<!-- Contact phone -->
			<li><span>Phone: </span>{{ event.contactPhone }}</li>
		</ul>
	</div>
</div>

<!-- Event actions -->
<div class="action">
	<button type="button" class="danger" (click)="onClose()">Close</button>
</div>
}
