@use "../../styles/variables.scss";

:host {
	flex-grow: 1;
	display: flex;
	gap: 24px;
	overflow: scroll;
	min-width: 0;
}

.event-nav-line-break {
	width: 4px;
	background-color: variables.$primary-gray-dark-1;
}

.center {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}
