@use "../../styles/variables.scss";

:host {
	flex-grow: 1;
	display: flex;
	gap: 30px;
	overflow: scroll;
	min-width: 0;
}

.event-nav-line-break {
	width: 3px;
	background-color: variables.$primary-gray-dark-1;
	border-radius: 100px;
}

.center {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}
