<div class="salutation">
	<h1>Sign Up for an Account</h1>
	<p>
		Already have an account?
		<a routerLink="/login">login Here!</a>
	</p>
</div>

<form class="auth-form">
	<div class="auth-form__input-container">
		<!-- Username -->
		<div class="input">
			<label for="username">Username</label>
			<input id="username" type="text" placeholder="Username" />
		</div>

		<!-- Email -->
		<div class="input">
			<label for="email">Email</label>
			<input id="email" type="email" placeholder="Email" />
		</div>

		<!-- Password -->
		<div class="input">
			<label for="password">Password</label>
			<input id="password" type="password" placeholder="Password" />
		</div>

		<!-- Confirm Password -->
		<div class="input">
			<label for="confirm-password">Confirm Password</label>
			<input
				id="confirm-password"
				type="password"
				placeholder="Confirm Password"
			/>
		</div>

		<!-- Role -->
		<div class="input">
			<label for="role">Role</label>
			<select
				id="role"
				class="role-select"
				type="text"
				placeholder="Role"
			>
				<option value="student">Student</option>
				<option value="admin">Admin</option>
				<option value="superAdmin">Super Admin</option>
			</select>
		</div>
	</div>

	<button class="auth-form__submit-button">Sign Up</button>
</form>
