$primary-purple: oklch(70.2% 0.183 293.541);
$primary-rose: oklch(71.2% 0.194 13.428);
$primary-gray: oklch(92.8% 0.006 264.531);

$font-gray: oklch(37.1% 0 0);

$border-gray: oklch(70.8% 0 0);

$shadow-low: 0px 0px 6px rgba(0, 0, 0, 0.4);
