<div class="salutation">
	<h1>Login to Your Account</h1>
	<p>
		Dont have an account?
		<a routerLink="/sign-up">Sign Up Here!</a>
	</p>
</div>

<form class="auth-form" [formGroup]="loginForm" (ngSubmit)="submit()">
	<div class="auth-form__input-container">
		<!-- Email -->
		<div class="input">
			<label for="email">Email</label>
			<input
				id="email"
				type="email"
				placeholder="Email"
				formControlName="email"
			/>
		</div>

		<!-- Password + Remember + Forgot password -->
		<div class="password-config-container">
			<!-- Password -->
			<div class="input">
				<label for="password">Password</label>
				<input
					id="password"
					type="password"
					placeholder="Password"
					formControlName="password"
				/>
			</div>

			<div class="login-config">
				<!-- Remember Me -->
				<div class="remember-me-container">
					<input type="checkbox" />
					<p>Remember Me</p>
				</div>

				<!-- Forgot Password -->
				<a routerLink="">Forgot password</a>
			</div>
		</div>
	</div>

	<button class="auth-form__submit-button" type="submit">
		@if (isFetching()) {
		<mat-icon class="spin">replay icon</mat-icon> } @else {Login}
	</button>
</form>
