<div class="salutation">
	<h1>Login to Your Account</h1>
	<p>
		Dont have an account?
		<a routerLink="/sign-up">Sign Up Here!</a>
	</p>
</div>

<form class="auth-form">
	<div class="auth-form__input-container">
		<div class="input">
			<p>Email</p>
			<input type="email" placeholder="Email" />
		</div>
		<div class="input">
			<p>Password</p>
			<input type="password" placeholder="Password" />
		</div>
	</div>

	<button class="auth-form__submit-button">Login</button>
</form>
